html, p, button, h1, h2, h3, a, div {
  font-family: 'Poppins', sans-serif; /* Изменён шрифт */
}

.body-section {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Изменён шрифт */
  background: url(./img/anime.png) no-repeat center center fixed; /* Устанавливаем фон как фиксированный */
  background-size: cover;
  color: white;
}

.header-navigation {
  display: flex;
  justify-content: center;
  gap: 15px;
}

header {
  padding: 20px;
  padding: 40px 24px 25px 0;
  text-align: center;
  color: white;
}

main {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

.subtitle {
  margin: 0 auto;
  display: block;
  max-width: 900px;
}

.subtitle-about {
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
  color: #b794f6;
  font-weight: 600;
}

.text-about {
  font-size: 20px;
  line-height: 25px;
}

.header-link {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  color: #ffffffbf;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.3s;
}

.header-link:hover {
  color: white;
}

/* Overlay для текста */

.content {
  position: relative;
  z-index: 2;
}

.text-overlay {
  position: relative;
  background: rgb(53 51 54 / 70%); /* Полупрозрачный серый */
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text-overlay-about {
  max-width: 780px;
}

.text-overlay h2 {
  animation: text-glow 2s infinite;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

@keyframes text-glow {
  0%, 100% {
    text-shadow: 
      0 0 3px #000,   /* Чёрная обводка */
      0 0 5px #fff,   /* Белое свечение */
      0 0 6px #b000b0, /* Тёмно-фиолетовое свечение */
      0 0 12px #b000b0,
      0 0 20px #b000b0;
  }
  50% {
    text-shadow: 
      0 0 3px #000,   /* Чёрная обводка */
      0 0 5px #fff,   /* Белое свечение */
      0 0 10px #b000b0, /* Тёмно-фиолетовое свечение */
      0 0 20px #b000b0,
      0 0 30px #b000b0;
  }
}

/* Стили для списка РП */
.rp-list {
  text-align: left;
  margin-top: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.rp-item {
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.1em;
  color: #b794f6;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;    
}

.rp-item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.rp-description {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.button-link {
  display: inline-block;
  background: #6200ea;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.button-link:hover {
  background-color: #3700b3;
}

.button-link-two {
  background: #534668;
}

.rules {
  padding-left: 20px;
  padding-right: 20px;
}

.list-rules {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.list-rules li {
  font-size: 18px; /* Увеличен размер шрифта */
  color: #ddd; /* Белый с сероватым оттенком */
  line-height: 1.6;
  margin-bottom: 15px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.footer-text {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}
